<section class="cart-section">
    <div class="container">
        <h2>Shopping cart</h2>
        <table>
            <thead>
                <tr class="head-line">
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price, EUR/pc</th>
                    <th>Quantity, pcs</th>
                    <th>Subtotal, EUR</th>
                </tr>
            </thead>
            <tbody>
                <tr class="details">
                    <td>IMAGE<img src="" alt=""></td>
                    <td>Name</td>
                    <td>Price, eur</td>
                    <td>
                        <div class="content">
                            <button class="btn"><i class="fa fa-plus">+</i></button>
                            <span>10</span>
                            <button class="btn"><i class="fa fa-minus">-</i></button>
                        </div>
                    </td>
                    <td>Subtotal
                        <button class="trash">remove</button>
                    </td>
                </tr>
                <tr class="details">
                    <td>IMAGE<img src="" alt=""></td>
                    <td>Name</td>
                    <td>Price, eur</td>
                    <td>
                        <div class="content">
                            <button class="btn"><i class="fa fa-plus">+</i></button>
                            <span>10</span>
                            <button class="btn"><i class="fa fa-minus">-</i></button>
                        </div>
                    </td>
                    <td>Subtotal
                        <button class="trash">remove</button>
                    </td>
                </tr>
                <tr class="details">
                    <td>IMAGE<img src="" alt=""></td>
                    <td>Name</td>
                    <td>Price, eur</td>
                    <td>
                        <div class="content">
                            <button class="btn"><i class="fa fa-plus">+</i></button>
                            <span>10</span>
                            <button class="btn"><i class="fa fa-minus">-</i></button>
                        </div>
                    </td>
                    <td>Subtotal
                        <button class="trash">remove</button>
                    </td>
                </tr>
                <tr class="details">
                    <td>IMAGE<img src="" alt=""></td>
                    <td>Name</td>
                    <td>Price, eur</td>
                    <td>
                        <div class="content">
                            <button class="btn"><i class="fa fa-plus">+</i></button>
                            <span>10</span>
                            <button class="btn"><i class="fa fa-minus">-</i></button>
                        </div>
                    </td>
                    <td>Subtotal
                        <button class="trash">remove</button>
                    </td>
                </tr>
            </tbody>
            <tfoot class="total">
                <tr>
                    <td class="sum" colspan="4">Total: </td>
                    <td>100 EUR</td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>