header {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(3, 114, 129, 0.5);
  border: 3px solid rgb(206, 13, 109);
  border-style: inset;
  border-radius: 10px;

  .home {
    margin-right: auto;
    padding: 12px;
    font-size: 28px;
    font-weight: 700;
    margin-left: 50px;
    font-style: italic;
    color: rgb(206, 13, 109);
    text-decoration: none;
  }
  .cart {
    position: relative;

    .cart-icon {
      position: relative;
      cursor: pointer;

      img {
        width: 50px;
        cursor: pointer;
        margin-right: 100px;
      }

      .count {
        position: absolute;
        top: -5px;
        right: 70px;
        color: rgb(206, 13, 109);
        font-size: 18px;
        border: 1px solid rgb(206, 13, 109);
        border-radius: 50%;
        padding: 5px 12px;
        background-color: #ffff;
        font-weight: 800;
        display: flex;
        align-items: center;
        align-content: center;
        height: 35px;
        width: 35px;
      }
    }
    button {
      width: 80px;
      padding: 4px;
      margin-right: 20px;
      text-align: center;
      background-color: #ffff;
      color: rgb(4, 56, 105);
      cursor: pointer;
      border: 1px solid rgb(206, 13, 109);
      border-radius: 8px;
    }
  }
}
