header {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(3, 114, 129, 0.5);
  border: 3px solid rgb(206, 13, 109);
  border-style: inset;
  border-radius: 10px;
  color: #d30909;

  .cart {
    position: relative;

    img {
      width: 50px;
      cursor: pointer;
      margin-right: 100px;
    }

    .cart-bth {
      max-height: 24px;
      width: 30px;
    }
    .count {
      position: absolute;
      top: 4px;
      right: 5px;
      color: #d30909;
      font-size: 15px;
    }
  }
}
