<!--<div>
    <div class="pavadinimas">{{product?.name}}</div>
    <div class="kiekis">{{product?.qty}} pcs</div>
    <div class="kaina">{{product?.price}} EUR</div>

    <button (click)="product?.add()">add</button>
    <button (click)="product?.remove()">remove</button>
    <button (click)="onFavorite.emit()">Megstamiausias</button>
</div>-->

<body>
    <div class="container">
        <div class="produktas" [ngClass]="{'disc': product!.disc > 0}">
            <img [src]="product?.image" alt="Produktas">
            <h3 class="pavadinimas">{{product?.name}}</h3>
            <!--<div class="kiekis">{{product?.qty}} pcs</div>-->
            <div klass="kaina">{{product?.price}} EUR</div>
        </div>

        <div class="buttons">
            <button (click)="product?.add()" (click)="pushId.emit()">add</button>
            <button (click)="product?.remove()" [disabled]="!product?.reserved()">remove</button>
        </div>
    </div>
</body>