<div class="card" [ngClass]="{'disc': product!.disc > 0}">
    <img class="img" [src]="product?.image" alt="Produktas">
    <ul class="details">
        <li>{{product?.name}}</li>
        <!--<li>On stock: {{product?.qty}} pcs</li>-->
        <li>Price: {{product?.priceWithDiscount}} EUR/pc</li>
    </ul>
    <div class="btn">
        <button (click)="product?.add()" (click)="pushId.emit()">add</button>
        <button (click)="product?.remove()" [disabled]="!product?.reserved()">remove</button>
    </div>
</div>