.card {
  background-color: white;
  color: rgb(4, 56, 105);
  padding: 0.2rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  flex-basis: content;
  margin: 5px;
  border: 3px solid rgb(206, 13, 109);
  border-radius: 13px;
  border-style: inset;

  &.disc {
    background-color: rgb(255, 255, 83);
  }
  ul {
    list-style-type: none;
    margin-bottom: 30px;
  }

  .img {
    width: 120px;
    height: auto;
    margin: auto;
  }

  .btn {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    text-align: center;
    margin-bottom: 0;

    button {
      width: 60px;
      padding: 4px;
      text-align: center;
      margin: 5px;
      background-color: #ffff;
      color: rgb(4, 56, 105);
      cursor: pointer;
      border: none;
      border: 1px solid rgb(206, 13, 109);
      border-radius: 8px;
    }
    button:hover {
      background-color: rgb(238, 174, 209);
      transform: scale(1.05);
    }
  }
}
